.myLogin {
    position:relative;
    margin:auto;
    margin-top : 1%;
    border : 2px solid black;
    border-radius : 10px;
    width : 60%;
    text-align : center;
    padding : 2%;
    color : white !important;
    background-color: #202A44;
}